---
layout: page
title: Pride Avatar
permalink: /pfp/
---

<link rel="stylesheet" href="/assets/css/pridepfp.css">
<h2>Add a pride flag to your profile picture</h2>
<div id="inputDiv">
    <div class="inputFieldDiv">
        <label>Profile Image File:</label>
        <img class="thumbnail" id="customImg" />
        <input type="file" id="imageLoader" name="imageLoader" title="Upload a foreground profile picture image" />
    </div>
    <div class="inputFieldDiv">
        <label>Flag Image File:</label>
        <img class="thumbnail" id="prideImg" />
        <select name="flagSelector" id="flagSelector" >
            <option value="custom">Custom</option>
            {% for myimage in site.static_files %}
                {% if myimage.path contains 'assets/images/flags' %}
                    <option value="{{ myimage.path }}" >{{ myimage.basename }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="file" id="flagLoader" name="flagLoader" title="Upload a custom pride flag background image" />
    </div>
    <div class="inputFieldDiv">
        <label>Border size:</label>
        <input type="number" min="0" max="0" step="1" value="0" id="insetSpinner" name="insetSpinner"> px
    </div>
    <div class="inputFieldDiv">
        <label for="themeSelector">Preview theme:</label>
        <select name="themeSelector" id="themeSelector" >
            <option value="#dark" selected>Dark</option>
            <option value="#light">Light</option>
            <option value="#black">Black</option>
        </select>
    </div>
</div>
<div id="editDiv" class="themed">
    <p>Click on background areas in the image to remove them:</p>
    <div class="inputFieldDiv">
        <input type="button" value="Reset" onclick="onCustomImageLoad();" title="Reset background areas"/>
        <input type="button" value="Cleanup" onclick="cleanupPixels();" title="Remove small clusters of opaque pixels" />
    </div>
    <canvas id="fgCanvas"></canvas>
</div>
<div id="outputDiv" class="themed">
    <span id="savePrompt" class="hidden">Right click -&gt; Save image as...</span>
    <div id="canvasDiv">
        <canvas id="imageCanvas"></canvas>
        <canvas id="previewCanvas"></canvas>
    </div>
</div>

<script src="/assets/js/pridepfp.js"></script>