#progressBarContainer {
    width: 100%;
    background-color: #f3f3f3;
    border: 1px solid darkorange;
    height: 2em;
}

#progressBar {
    width: 0%;
    height: 100%;
    background-color: orange;
}

#toolContainer {
    position: relative;
}

#startButton {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}